name: "CI"
on:
  push:
    branches: "*"
  pull_request:

env:
  cache-version: 1

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Cache NPM dependencies"
        uses: actions/cache@v5
        with:
          path: "~/.npm"
          key: npm-dependencies-${{ runner.os }}-${{ env.cache-version }}-${{ hashFiles('package.json') }}
          restore-keys: |
            npm-dependencies-${{ runner.os }}-${{ env.cache-version }}-${{ hashFiles('package.json') }}
            npm-dependencies-${{ runner.os }}-${{ env.cache-version }}-

      - name: "Install NPM dependencies"
        run: |
          npm ci

      - name: "Build"
        run: |
          npm run build

  test:
    name: "Test"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        versions: [
          {vitest: "2"},
          {vitest: "3"},
          {vitest: "4"},
        ]
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Install NPM dependencies"
        run: |
          npm install

      - name: "Install vitest"
        run: |
          npm install vitest@${{ matrix.versions.vitest }} @vitest/coverage-v8@${{ matrix.versions.vitest }}

      - name: "Run tests"
        run: |
          npm run test-coverage

      - name: "Upload coverage results"
        uses: coverallsapp/github-action@v2.3.7
        with:
          parallel: true

  close-coverage:
    name: "Close parallel coverage"
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: "Close parallel coverage"
        uses: coverallsapp/github-action@v2.3.7
        with:
          parallel-finished: true

  lint:
    name: "Lint"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Cache NPM dependencies"
        uses: actions/cache@v5
        with:
          path: "~/.npm"
          key: npm-dependencies-${{ runner.os }}-${{ env.cache-version }}-${{ hashFiles('package.json') }}
          restore-keys: |
            npm-dependencies-${{ runner.os }}-${{ env.cache-version }}-${{ hashFiles('package.json') }}
            npm-dependencies-${{ runner.os }}-${{ env.cache-version }}-

      - name: "Install NPM dependencies"
        run: |
          npm ci

      - name: "Lint"
        run: |
          npm run lint
